.section {
  padding-top: 30px;
  padding-bottom: 30px;
  min-width: 320px;
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

h1,
h2,
h3,
p {
  margin: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: Roboto, sans-sefif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: black;
  min-width: 320px;
}

.header-logo-web {
  color: #2196f3;
}

.header-logo-web .header-logo-studio {
  color: black;
}

img {
  height: auto;
  display: block;
  max-width: 100%;
}

@media screen and (max-width: 1199px) {
  .hallery {
    display: none;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.header-logo-web,
.header-logo-studio {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.button-open {
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ececec;
  z-index: 1;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.link-mobile {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  color: black;
}

.link-mobile:hover {
  color: #2196f3;
}

.menu-toggle {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-right: 20px;
  margin-top: 21px;
  float: right;
}

.mobile-list:not(:last-child) {
  margin-bottom: 32px;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-header-phone {
  color: #2196f3;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
}

.mobile-header-mail {
  color: #757575;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
}

.mobile-info:not(:last-child) {
  margin-top: 302px;
  margin-bottom: 32px;
}

.mobile-menu,
.mobile-navigation {
  margin: 0;
  margin-top: 46px;
  padding-left: 25px;
}

.mobile-social-list {
  color: #2196f3;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.mobile-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding-left: 25px;
}

.mobile-social-item {
  margin-top: 64px;
}

.mobile-social-item:not(:last-child) {
  margin-right: 8px;
  border-right: 1px solid rgba(21, 21, 21, 0.5);
  padding-right: 10px;
}

.button-icon:hover {
  fill: #2196f3;
}

@media screen and (max-width: 767px) {
  .header-list,
  .auth-nav {
    display: none;
  }
  .header-nav {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media (min-width: 767px) {
  .header {
    min-width: 767px;
  }
  .js-open-menu {
    display: none;
  }
  .header-logo-web {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  .div-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-link {
    color: var(--main-clr);
    position: relative;
    padding: 35px 0 32px 0;
    display: block;
  }
  .header-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    position: absolute;
    bottom: 0px;
    display: none;
  }
  .header-link:hover, .header-link:focus {
    color: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current::after {
    display: block;
  }
  .list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 93px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-list .header-item:not(:last-child) {
    margin-right: 50px;
  }
  .header-list .header-item {
    font-family: Roboto, sans-sefif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .header-mail:hover .link-svg,
  .header-phone:hover .link-svg {
    fill: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-navigation:hover,
  .header-navigation:focus {
    color: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    padding-top: 21px;
  }
  .header-navigation {
    color: #757575;
    font-family: Roboto, sans-sefif;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.02em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .header-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header-info:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media (min-width: 767px) {
  .current::after {
    display: block;
  }
}

@media (max-width: 1199px) {
  .link-svg {
    fill: #757575;
    margin-right: 10px;
    position: relative;
    top: 2.5px;
  }
}

@media (min-width: 1200px) {
  .header {
    min-width: 1200px;
    border: 1px solid #ececec;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 1200px;
  }
  .div-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 80px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-logo-web,
  .header-logo-studio {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.42;
    letter-spacing: 0.03em;
  }
  .current::after {
    display: block;
  }
  .header-link {
    color: var(--main-clr);
    position: relative;
    padding: 35px 0 32px 0;
    display: block;
  }
  .header-link::after {
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
    position: absolute;
    bottom: 0px;
    display: none;
  }
  .header-link:hover, .header-link:focus {
    color: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .current::after {
    display: block;
  }
  .list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 93px;
  }
  .header-list .header-item:not(:last-child) {
    margin-right: 50px;
  }
  .header-list .header-item {
    font-family: Roboto, sans-sefif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .header-item {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .header-mail:hover .link-svg {
    fill: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .header-navigation:hover,
  .header-navigation:focus {
    color: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .auth-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
  }
  .header-info:not(:first-child) {
    padding-left: 30px;
  }
  .header-navigation {
    color: #757575;
    font-family: Roboto, sans-sefif;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header-navigation:hover .link-svg,
  .header-navigation:focus .link-svg {
    fill: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link-svg {
    fill: #757575;
    margin-right: 10px;
  }
}

.hero {
  background-repeat: no-repeat;
  max-height: 400px;
  min-width: 320px;
  max-width: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 280px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mobile-2.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-2.jpg");
  margin: auto;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/mobile-1.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-1.jpg");
  }
}

.hero-main {
  font-family: Roboto, sans-sefif;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.hero-btn {
  font-family: Roboto, sans-sefif;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  color: #ffffff;
  background: #2196f3;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border-color: transparent;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin-top: 30px;
  padding: 10px 32px;
}

.hero-btn:hover {
  color: black;
  background: #f5f4fa;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-x {
  position: absolute;
  right: 8px;
  top: 8px;
}

.backdrop {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1200;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  height: 609px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;
  right: 8px;
  top: 8px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
  cursor: pointer;
}

.modal-btn:hover .close-x {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea {
  resize: none;
}

.legend-banner {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 40px;
  margin-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
}

.form-field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
}

.form-field label {
  margin-bottom: 4px;
}

.form-field input {
  padding: 14px 15px 14px 42px;
  margin: 0;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form-field textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding: 11px 16px;
  height: 120px;
}

.form-label {
  margin-bottom: 4px;
}

.comment {
  margin-bottom: 20px;
}

.svg-name {
  position: absolute;
  top: 34px;
  left: 15px;
  display: inline-block;
}

.modal-link {
  color: #2196f3;
  text-decoration: underline;
}

.form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus:focus ~ .svg-name {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 30px;
}

.label-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.icon {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 2px;
  margin-right: 9px;
}

input[type="checkbox"]:hover + .icon {
  border-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + .icon {
  border-color: #2196f3;
  background-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.svg-name-icon {
  position: absolute;
  top: -0.5px;
  left: 0px;
}

.label-checkbox {
  cursor: pointer;
}

.input-btn {
  background: #2196f3;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  cursor: pointer;
}

.input-btn:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 767px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet-2.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-2.jpg");
  }
}

@media screen and (min-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 767px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/tablet-1.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-1.jpg");
  }
}

@media screen and (min-width: 767px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 450px;
    height: 609px;
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-repeat: no-repeat;
    max-height: 600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 280px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/background.jpg");
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/background.jpg");
    margin: auto;
  }
  .hero-main {
    font-family: Roboto, sans-sefif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
  .hero-btn {
    font-family: Roboto, sans-sefif;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    color: #ffffff;
    background: #2196f3;
    width: 200px;
    height: 50px;
    border-radius: 4px;
    border-color: transparent;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    margin-top: 30px;
    padding: 10px 32px;
  }
  .hero-btn:hover {
    color: black;
    background: #f5f4fa;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .close-x {
    position: absolute;
    right: 8px;
    top: 8px;
  }
  .backdrop {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 1200;
  }
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
  }
  .is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
  .modal-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 8px;
    top: 8px;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
  }
  .modal-btn:hover .close-x {
    fill: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  textarea {
    resize: none;
  }
  .legend-banner {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 40px;
    margin-bottom: 12px;
  }
  .form-field {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #757575;
    text-align: left;
  }
  .form-field label {
    margin-bottom: 4px;
  }
  .form-field input {
    padding: 14px 15px 14px 42px;
    margin: 0;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
  }
  .form-field textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    padding: 11px 16px;
    height: 120px;
  }
  .form-label {
    margin-bottom: 4px;
  }
  .comment {
    margin-bottom: 20px;
  }
  .svg-name {
    position: absolute;
    top: 34px;
    left: 15px;
    display: inline-block;
  }
  .modal-link {
    color: #2196f3;
    text-decoration: underline;
  }
  .form-input:focus {
    outline: none;
    border: 1px solid #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-input:focus:focus ~ .svg-name {
    fill: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .form-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 30px;
  }
  .label-checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  input[type="checkbox"] {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    position: absolute;
  }
  .icon {
    position: relative;
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid black;
    border-radius: 2px;
    margin-right: 9px;
  }
  input[type="checkbox"]:hover + .icon {
    border-color: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  input[type="checkbox"]:checked + .icon {
    border-color: #2196f3;
    background-color: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .svg-name-icon {
    position: absolute;
    top: -0.5px;
    left: 0px;
  }
  .label-checkbox {
    cursor: pointer;
  }
  .input-btn {
    background: #2196f3;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    border: 0;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    color: #ffffff;
    cursor: pointer;
  }
  .input-btn:hover {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.paragraph-main {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
  text-align: center;
}

@media screen and (max-width: 766px) {
  .container {
    padding: 0 15px;
    margin: 0 auto;
    min-width: 320px;
    max-width: 480px;
  }
}

@media screen and (max-width: 767px) {
  .paragraph-item::before {
    display: inline-block;
    content: "";
    background-color: #f5f4fa;
    min-width: 100%;
    max-width: 450px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 4px;
  }
}

.paragraph-item:not(:first-child) {
  margin-top: 30px;
}

@media screen and (min-width: 767px) {
  .paragraph-item:not(:first-child) {
    margin-top: 0;
  }
}

.paragraph-description {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.paragraph-list {
  margin: 0;
  padding: 0;
}

.antenna::before {
  background-image: url("../images/svg/antenna.svg");
}

.clock::before {
  background-image: url("../images/svg/clock.svg");
}

.notebook::before {
  background-image: url("../images/svg/notebook.svg");
}

.astronaut::before {
  background-image: url("../images/svg/astronaut.svg");
}

@media screen and (min-width: 767px) {
  .paragraph-list {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .paragraph-item {
    width: 354px;
    height: -1px;
  }
  .paragraph-main {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .paragraph-item::before {
    display: block;
    content: "";
    background-color: #f5f4fa;
    min-width: 290px;
    max-width: 450px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  .paragraph-item:nth-last-child(-n+2) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 767px) {
  .paragraph-description {
    font-family: var(--main-font);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .antenna::before {
    background-image: url(../images/svg/antenna.svg);
  }
  .clock::before {
    background-image: url(../images/svg/clock.svg);
  }
  .notebook::before {
    background-image: url(../images/svg/notebook.svg);
  }
  .astronaut::before {
    background-image: url(../images/svg/astronaut.svg);
  }
}

@media screen and (min-width: 1200px) {
  .paragraph-main {
    font-family: var(--main-font);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    padding-bottom: 10px;
  }
  .paragraph-item {
    width: 270px;
  }
  .paragraph-item::before {
    display: block;
    content: "";
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    border-radius: 4px;
  }
  .paragraph-description {
    font-family: var(--main-font);
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
  .paragraph-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .paragraph-list .paragraph-item:not(:last-child) {
    margin-right: 30px;
  }
  .ul-paragraph:not(:last-child) {
    margin-right: 30px;
  }
  .antenna::before {
    background-image: url(../images/svg/antenna.svg);
  }
  .clock::before {
    background-image: url(../images/svg/clock.svg);
  }
  .notebook::before {
    background-image: url(../images/svg/notebook.svg);
  }
  .astronaut::before {
    background-image: url(../images/svg/astronaut.svg);
  }
}

@media screen and (min-width: 1200px) {
  .hallery {
    padding-bottom: 94px;
  }
  .hallery-main {
    font-family: Roboto, sans-sefif;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
  }
  .hallery-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hallery-list .hallery-item:not(:last-child) {
    margin-right: 30px;
  }
  .thumb {
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: 100%;
  }
  .label {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 27px;
    font-size: 14px;
    background: rgba(47, 48, 58, 0.8);
    color: #ffffff;
    width: 100%;
    text-align: center;
  }
}

.team {
  background-color: #f5f4fa;
  min-width: 320px;
}

@media screen and (max-width: 766px) {
  .team-svg.list {
    padding: 29px  134px 37px 134px;
  }
}

.team-main {
  font-family: Roboto, sans-sefif;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (max-width: 766px) {
  .team-item {
    min-width: 290px;
    max-width: 450px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

@media screen and (max-width: 766px) {
  .team-list {
    padding: 0;
  }
  .team-list .team-item:not(:first-child) {
    margin-top: 30px;
  }
}

.team-name {
  font-family: Roboto, sans-sefif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-description {
  font-family: Roboto, sans-sefif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: #757575;
  margin-top: 10px;
}

.team-container {
  padding-top: 30px;
}

img {
  display: block;
}

.team-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.people-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 50%;
  fill: #afb1b8;
}

.people-svg:hover, .people-svg:focus {
  background-color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.people-svg:hover .people-team-svg,
.people-svg:focus .people-team-svg {
  fill: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 767px) {
  .team {
    background-color: #f5f4fa;
    min-width: 767px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .team-svg.list {
    padding: 29px 75px 36px 75px;
  }
}

@media screen and (min-width: 767px) {
  .team-main {
    font-family: Roboto, sans-sefif;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .team-item {
    width: 354px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

@media screen and (min-width: 767px) {
  .team-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .team-item:nth-last-of-type(-n+2) {
    margin-top: 30px;
  }
}

@media screen and (min-width: 767px) {
  .team-name {
    font-family: Roboto, sans-sefif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .team-description {
    font-family: Roboto, sans-sefif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
    margin-top: 10px;
  }
  .team-container {
    padding-top: 30px;
  }
  img {
    display: block;
  }
  .team-svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .team-svg-list {
    width: 44px;
    height: 44px;
  }
  .people-svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: #afb1b8;
  }
  .people-svg:hover, .people-svg:focus {
    background-color: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .people-svg:hover .people-team-svg,
  .people-svg:focus .people-team-svg {
    fill: #ffffff;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .team {
    background-color: #f5f4fa;
  }
  .team-main {
    font-family: Roboto, sans-sefif;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
  }
  .team-item {
    width: 270px;
    height: 428px;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .team-list .team-item:not(:last-child) {
    margin-right: 30px;
  }
  .team-name {
    font-family: Roboto, sans-sefif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .team-description {
    font-family: Roboto, sans-sefif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575;
    margin-bottom: 16px;
    margin-top: 10px;
  }
  .team-container {
    padding: 30px;
  }
  img {
    display: block;
  }
  .team-svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .team-svg-list {
    width: 44px;
    height: 44px;
  }
  .people-svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: #afb1b8;
  }
  .people-svg:hover, .people-svg:focus {
    background-color: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .people-svg:hover .people-team-svg,
  .people-svg:focus .people-team-svg {
    fill: #ffffff;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.clients-main {
  font-family: Roboto, sans-sefif;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.clients-list {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (max-width: 1199px) {
  .our-clients:nth-child(-n+4) {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 766px) {
  .our-clients {
    width: 150px;
  }
}

.our-clients .clients-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  fill: #afb1b8;
}

.clients-link:hover,
.clients-link:focus {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #2196f3;
}

.clients-link:hover .clients-svg,
.clients-link:focus .clients-svg {
  fill: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 767px) {
  .clients {
    min-width: 767px;
  }
  .clients-main {
    font-family: Roboto, sans-sefif;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
  }
  .clients-list {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 0;
    margin: 0;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .our-clients {
    width: 226px;
  }
}

@media screen and (min-width: 767px) {
  .our-clients .clients-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 92px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border: 1px solid #afb1b8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    fill: #afb1b8;
  }
  .clients-link:hover,
  .clients-link:focus {
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #2196f3;
  }
  .clients-link:hover .clients-svg,
  .clients-link:focus .clients-svg {
    fill: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

@media screen and (min-width: 1200px) {
  .clients-main {
    font-family: Roboto, sans-sefif;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  .clients-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .our-clients .clients-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 170px;
    height: 92px;
    left: 215px;
    top: 2493px;
    border: 1px solid #afb1b8;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border-radius: 4px;
    fill: #afb1b8;
  }
  .our-clients:not(:last-child) {
    margin-right: 30px;
  }
  .clients-link:hover,
  .clients-link:focus {
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid #2196f3;
  }
  .clients-link:hover .clients-svg,
  .clients-link:focus .clients-svg {
    fill: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.footer {
  background-color: #2f303a;
  min-width: 320px;
  height: 603px;
  padding-bottom: 30px;
  padding-top: 30px;
}

.footer .container {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1199px) {
  .footer-list {
    padding: 0;
    margin-bottom: 60px;
  }
  .adress {
    text-align: center;
  }
  .join-div {
    text-align: center;
  }
}

.footer-map:hover,
.footer-map:focus,
.footer-mail:hover,
.footer-mail:focus,
.footer-phone:hover,
.footer-phone:focus {
  color: #2196f3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-logo-web {
  color: #2196f3;
}

.footer-logo-web .footer-logo-studio {
  color: #ffffff;
}

.footer-logo-web,
.footer-logo-studio {
  font-family: #757575;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-map {
  font-family: Roboto, sans-sefif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-mail,
.footer-phone {
  font-family: Roboto, sans-sefif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff99;
}

.footer-item:first-child {
  margin-top: 20px;
}

.footer-item:not(:last-child) {
  margin-bottom: 8px;
}

.join {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.142;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.join-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.join-item :not(:last-child) {
  margin-right: 10px;
}

.join-list {
  width: 44px;
  height: 44px;
}

.join-list .join-svg:hover,
.join-list .join-svg:focus {
  background-color: #2196f3;
}

.join-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  fill: #ffffff;
}

.join-svg.dark {
  background: rgba(255, 255, 255, 0.1);
}

@media screen and (min-width: 767px) {
  .footer {
    background-color: #2f303a;
    min-width: 767px;
    height: 463px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 767px) {
  .footer-map:hover,
  .footer-map:focus,
  .footer-mail:hover,
  .footer-mail:focus,
  .footer-phone:hover,
  .footer-phone:focus {
    color: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-logo-web {
    color: #2196f3;
  }
  .footer-logo-web .footer-logo-studio {
    color: #ffffff;
  }
  .footer-logo-web,
  .footer-logo-studio {
    font-family: #757575;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  .footer-map {
    font-family: Roboto, sans-sefif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer-mail,
  .footer-phone {
    font-family: Roboto, sans-sefif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff99;
  }
  .footer-item:first-child {
    margin-top: 20px;
  }
  .footer-item:not(:last-child) {
    margin-bottom: 8px;
  }
  .join {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .join-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 60px;
  }
  .join-item :not(:last-child) {
    margin-right: 10px;
  }
  .join-list {
    width: 44px;
    height: 44px;
  }
  .join-list .join-svg:hover,
  .join-list .join-svg:focus {
    background-color: #2196f3;
  }
  .join-svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: #ffffff;
  }
  .join-svg.dark {
    background: rgba(255, 255, 255, 0.1);
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    background-color: #2f303a;
    height: 256px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .adress {
    margin-right: 70px;
  }
  .footer-map:hover,
  .footer-map:focus,
  .footer-mail:hover,
  .footer-mail:focus,
  .footer-phone:hover,
  .footer-phone:focus {
    color: #2196f3;
    -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .footer-logo-web {
    color: #2196f3;
  }
  .footer-logo-web .footer-logo-studio {
    color: #ffffff;
  }
  .footer-logo-web,
  .footer-logo-studio {
    font-family: #757575;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  .footer-map {
    font-family: Roboto, sans-sefif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  .footer-mail,
  .footer-phone {
    font-family: Roboto, sans-sefif;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff99;
  }
  .footer-item:first-child {
    margin-top: 20px;
  }
  .footer-item:not(:last-child) {
    margin-bottom: 9px;
  }
  .join {
    font-weight: bold;
    font-size: 14px;
    line-height: 1.142;
    text-transform: uppercase;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .join-div {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 206px;
    height: 80px;
  }
  .join-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .join-list {
    width: 44px;
    height: 44px;
  }
  .join-list .join-svg:hover,
  .join-list .join-svg:focus {
    background-color: #2196f3;
  }
  .join-svg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    fill: #ffffff;
  }
  .join-svg.dark {
    background: rgba(255, 255, 255, 0.1);
  }
  .wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.portfolio-btn {
  font-family: Roboto, sans-sefif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;
  cursor: pointer;
}

.portfolio-btn:hover {
  color: #ffffff;
  background: #2196f3;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:nth-last-child(-n+2) {
  margin-top: 15px;
}

@media screen and (min-width: 767px) {
  .portfolio-list:nth-last-child(-n+2) {
    margin-top: 0px;
  }
}

.portfolio-list:not(:last-child) {
  margin-right: 8px;
}

.portfolio-main {
  font-family: Roboto, sans-sefif;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.portfolio-description {
  font-family: Roboto, sans-sefif;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-item {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 40px;
}

.portfolio-box:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-container {
  display: block;
  border: 1px solid #eeeeee;
  text-align: left;
  padding: 20px 24px;
}

.portfolio-image {
  padding: 0;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199px) {
  .portfolio-box:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 767px) {
  .box {
    min-width: 354px;
    max-width: 370px;
    min-height: 404px;
    max-height: 440px;
  }
  .portfolio-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 0px;
  }
  .portfolio-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .portfolio-container {
    height: 146px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-box:nth-child(3n) {
    margin: 0;
  }
  .portfolio-box:nth-child(3n):nth-child(-n+6) {
    margin-bottom: 30px;
  }
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay:hover .overlay-text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

@media screen and (max-width: 1199px) {
  .legend {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.142;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.email-footer {
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 100%;
  max-width: 450px;
  height: 50px;
  background-color: #2F303A;
  color: #ffffff;
  margin-bottom: 20px;
  display: block;
}

@media screen and (max-width: 1199px) {
  .button-submit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 200px;
    height: 50px;
    background: #2196f3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.06em;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    border: 0px;
    margin: 0 auto;
  }
}

.telegram {
  margin-left: 10px;
}

.email-footer {
  padding: 16px;
}

@media screen and (min-width: 767px) {
  .email-footer {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .legend {
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    line-height: 1.142;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .email-footer {
    position: relative;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    margin-right: 10px;
    margin-bottom: 0;
    color: #ffffff;
  }
  .button-submit {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 200px;
    height: 50px;
    background: #2196f3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 0.06em;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    border: 0px;
    padding: 0px;
  }
}
/*# sourceMappingURL=main.css.map */